# Hypothesis Testing Exercises and Correlation Exercises

In [97]:
from scipy import stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import env
import datetime

## 1. Answer with the type of test you would use (assume normal distribution):

### a. Is there a difference in grades of students on the second floor compared to grades of all students?

Independent T-Test

Instructor Answer: One sample t-test two tailed

### b. Are adults who drink milk taller than adults who dont drink milk?

One sample T-test

Instructor answer: Independent one-tailed t-test

### c. Is the the price of gas higher in texas or in new mexico?

One sample T-test

Instructor Answer: Independent one-tailed t-test

### d. Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

ANOVA test

## 2. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

H0 = The mean of length of time to sell a home at office A is == the mean of the length of time to sell home at office B.

HA = The mean of length of time to sell a home at office A is != the mean of the length of time to sell home at office B.

In [16]:
office_a = np.random.normal(90, 15, 40)
office_b = np.random.normal(100, 20, 50)
'''
Instructor answer:office_1 = stats.norm(90, 15).rvs(40)
                  office_2 = stats.norm(100,20).rvs(50)
                  
stat, p_val = stats.levene(office_1,office_2)
if p_val < 0.05:
    print('We can reject H0 ==> inequal variance')
else:
    print('We can refect H0 ==> equal variance')'''
print(office_a.var())
print(office_b.var())

146.80842818538014
399.38322533367705

In [72]:
alpha = .05
t, p = stats.ttest_ind(office_a, office_b, equal_var=False)
print(t, p/2)

if p / 2 > alpha:
    print('We fail to reject the null')
elif t < 0:
    print('We fail to reject the null')
else:
    print('We reject the null')

-2.5958751317255464 0.005582424000215237
We fail to reject the null

In [2]:
from pydataset import data

## 3. Load the mpg dataset and use it to answer the following questions:

In [25]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## a. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

H0 = Fuel efficiency in cars from 2008 == the fuel efficiency of cars in 1999.

HA = Fuel efficiency in cars from 2008 != the fuel efficiency of cars in 1999.

There are two measures of fuel efficiency in mpg: city and highway. This hypothesis will measure the average of these two values.

In [78]:
cars_2008_fe = mpg[mpg.year == 2008][['cty', 'hwy']].mean(axis=1)
cars_1999_fe = mpg[mpg.year == 1999][['cty', 'hwy']].mean(axis=1)
'''
Instructor Answer:
Harmonic mean is used for rates.
mpg['avg_fe'] = stats.hmean(mpg[['city', 'hwy']], axis =1)'''
print(cars_2008_fe.var())
print(cars_1999_fe.var())

# Instructor Answer: variance does not have to be exact, just needs to be close

24.097480106100797
27.122605363984682

In [77]:
alpha = .05
t, p = stats.ttest_ind(cars_2008_fe, cars_1999_fe, equal_var=False)
# Instructor Answer: t, p = stats.ttest_ind(cars_2008_fe, cars_1999_fe)
print(t, p/2)

if p / 2 > alpha:
    print('We fail to reject the null')
elif t < 0:
    print('We fail to reject the null')
else:
    print('We reject the null')

-0.21960177245940962 0.4131872020161789
We fail to reject the null

## b. Are compact cars more fuel-efficient than the average car?

H0 = Fuel efficiency in compact cars == the fuel efficiency the average car.

HA = Fuel efficiency in compact cars != the fuel efficiency the average car.

In [69]:
cars_compact_fe = mpg[mpg['class'] == 'compact'][['cty', 'hwy']].mean(axis=1)
cars_average_fe = mpg[mpg['class'] != 'compact'][['cty', 'hwy']].mean(axis=1)
'''
Instructor answer: mean = mpg.avg_fuel.mean()'''
print(cars_compact_fe.var())
print(cars_average_fe.var())

t, p = stats.ttest_ind(cars_compact_fe,cars_average_fe, equal_var=False)
print(t, p/2)

if p / 2 > alpha:
    print('We fail to reject the null')
elif t < 0: #Instructor answer: t > 0 since this is a one-tailed one sample test.
    print('We fail to reject the null')
else:
    print('We reject the null')

12.442876965772433
23.652794548904602
8.128810422808078 8.009030328061511e-13
We reject the null

## c. Do manual cars get better gas mileage than automatic cars?

H0 = Fuel efficiency in manual cars == the fuel efficiency automatic cars.

HA = Fuel efficiency in manual cars != the fuel efficiency automatic car.

Note* practice correctly categorizing the tailed type test and the type of test to run.

In [63]:
cars_manual_fe = mpg[mpg.trans.str.startswith('m')][['cty', 'hwy']].mean(axis=1)
cars_auto_fe = mpg[mpg.trans.str.startswith('a')][['cty', 'hwy']].mean(axis=1)
print(cars_manual_fe.var())
print(cars_auto_fe.var())

26.635167464114826
21.942777233382337

In [71]:
t, p = stats.ttest_ind(cars_manual_fe, cars_auto_fe, equal_var=False)
print(t, p/2)

if p / 2 > alpha:
    print('We fail to reject the null')
elif t < 0:
    print('We fail to reject the null')
else:
    print('We reject the null')

4.443514012903072 8.976124499958947e-06
We reject the null

# Correlation Exercises

## 1. Answer with the type of stats test you would use (assume normal distribution):

### a. Is there a relationship between the length of your arm and the length of your foot?

In [ ]:
Pearson r

### b. Do guys and gals quit their jobs at the same rate?

Spearman r

Instructor answer: $ \chi ^ 2$

### c. Does the length of time of the lecture correlate with a students grade?

In [ ]:
Pearson r

## 2. Use the telco_churn data.

In [26]:
url = env.get_db_url('telco_churn')
telco = pd.read_sql('SELECT * FROM customers',url)
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.9,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes

### a. Does tenure correlate with monthly charges?

H0 = There is no linear correlation between tenure and monthly charges.

HA = There is a linear correlation between tenure and monthly charges.

In [25]:
n = telco.shape[0]
conf_interval = .95
alpha = 1 - conf_interval
degf = n - 2

In [89]:
# calculate the Pearson Correlation coefficient
x = telco.tenure
y = telco.monthly_charges

def stdev(x):
    variance = ((x - x.mean()) ** 2).sum() / n
    return np.sqrt(variance)

r_xy = (((x - x.mean()) * (y - y.mean())).sum() / n) / (stdev(x) * stdev (y))
r_xy

0.24789985628615005

In [33]:
# find the t-value
t = (r_xy * np.sqrt(n-2)) / np.sqrt(1 - r_xy**2)
t

21.471666051880586

In [35]:
# find the p-value
p = stats.t.sf(t, df=degf) * 2
p
p < alpha

True

In [140]:
r, p = stats.pearsonr(x,y)
r,p
p<alpha
print('We reject the null')
r,p

We reject the null

(0.3064625613186077, 0.0)

### b. Total charges?

In [83]:
#x = telco.tenure
#y = telco.total_charges.str.strip().replace("''", "").astype(float)

r,p = stats.pearsonr(x,y)

### c. What happens if you control for phone and internet service?

H0 = There is no linear correlation between customers' that have phone and internet service tenure and monthly charges.

HA = There is a linear correlation between customers' that have phone and internet service tenure and monthly charges.

In [76]:
sql = '''
SELECT *
FROM customers
JOIN internet_service_types ON customers.internet_service_type_id=internet_service_types.internet_service_type_id'''
telco_internet = pd.read_sql(sql,url)
telco_internet.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,internet_service_type_id,internet_service_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,Yes,No,2,Yes,2,65.6,593.3,No,1,DSL
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,Yes,1,No,2,59.9,542.4,No,1,DSL
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,No,No,1,Yes,1,73.9,280.85,Yes,2,Fiber optic
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,Yes,1,Yes,1,98.0,1237.85,Yes,2,Fiber optic
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,Yes,No,1,Yes,2,83.9,267.4,Yes,2,Fiber optic

In [82]:
x = telco_internet[telco_internet.internet_service_type != 'None'][telco_internet.phone_service == 'Yes'].tenure
y = telco_internet[telco_internet.internet_service_type != 'None'][telco_internet.phone_service == 'Yes'].monthly_charges

r_xy = (((x - x.mean()) * (y - y.mean())).sum() / n) / (stdev(x) * stdev (y))
r_xy

/var/folders/q0/ltx9pcc929qfz0h96j9rxxk80000gp/T/ipykernel_28305/3307999888.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = telco_internet[telco_internet.internet_service_type != 'None'][telco_internet.phone_service == 'Yes'].tenure
/var/folders/q0/ltx9pcc929qfz0h96j9rxxk80000gp/T/ipykernel_28305/3307999888.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  y = telco_internet[telco_internet.internet_service_type != 'None'][telco_internet.phone_service == 'Yes'].monthly_charges

0.4431147667282183

In [84]:
t = (r_xy * np.sqrt(n-2)) / np.sqrt(1 - r_xy**2)
t

41.4763097230006

In [85]:
p = stats.t.sf(t, df=degf) * 2
p
p < alpha

True

In [88]:
r, p = stats.pearsonr(x,y)
r,p
p<alpha

True

## 2. Use the employees database.

In [126]:
url = env.get_db_url('employees')
emp_df = pd.read_sql('SELECT * FROM employees JOIN salaries ON employees.emp_no = salaries.emp_no WHERE to_date LIKE "9999-01-01"', url)
emp_df.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,88958,2002-06-22,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,10002,72527,2001-08-02,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,10003,43311,2001-12-01,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,74057,2001-11-27,9999-01-01
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,94692,2001-09-09,9999-01-01

### a. Is there a relationship between how long an employee has been with the company and their salary?

H0 = For current employees, there is no relationship between how long an employee has been with the company and their salary.

HA = For current employees, there is a relationship between how long an employee has been with the company and their salary.

In [134]:
emp_df['days_at_company'] = (datetime.date.today() - emp_df.hire_date).dt.days
x = emp_df.days_at_company
y = emp_df.salary
emp_df.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date,days_at_company
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,88958,2002-06-22,9999-01-01,13489
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,10002,72527,2001-08-02,9999-01-01,13706
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,10003,43311,2001-12-01,9999-01-01,13426
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,74057,2001-11-27,9999-01-01,13331
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,94692,2001-09-09,9999-01-01,12315

In [141]:
x = emp_df.days_at_company
y = emp_df.salary
r,p = stats.pearsonr(x,y)
r, p
p<alpha

(0.3064625613186077, 0.0)

### b. Is there a relationship between how long an employee has been with the company and the number of titles they have had?